<h1 class="text-center">Amazing Cocktails</h1>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), <%= image_tag "cocktail.jpeg" %>" >
          <div class="card-category">With Alcohol</div>
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
            <p> <%= link_to "Delete me", cocktail_path(cocktail), method: :delete %></p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/JakobBe">
        </div>

    </div>
    <% end %>
  </div>
</div>


